# Hello,
#
# I'm Eray, a product manager.
# I find useful ideas that make your life a little easier and turn them into reality.
# But shipping a good product usually depends on having the right tools. Sometimes, when that tool doesn't exist, or I don't think it's good enough, I build it myself.
# When I build a tool, instead of keeping it to myself, I open source it and share it with everyone. This is one of them. Maybe it'll be useful to you too.
# ---
# Merhaba,
#
# Ben Eray, bir ürün yöneticisiyim.
# Hayatınızı biraz daha kolaylaştıracak, işe yarar fikirler bulup ve bunları gerçeğe dönüştürüyorum.
# Ancak iyi bir ürünü hayata geçirmek genellikle doğru araçlara sahip olmaya bağlıdır. Bazen, o araç mevcut olmadığında ya da iyi olmadığını düşündüğümde, kendim geliştiririm. 
# Bir aracı geliştirdiğimde, onu kendime saklamak yerine açık kaynak olarak herkesle paylaşırım. Bu da onlardan biri. Belki size de faydalı olur.

# Eray Endes - erayendes@gmail.com

* @erayendes
